Q-1. Imagine you have a dataset where you have different Instagram features

like u sername , Caption , Hashtag , Followers , Time_Since_posted , and likes , now your task is

to predict the number of likes and Time Since posted and the rest of the features are

your input features. Now you have to build a model which can predict the

number of likes and Time Since posted.

Dataset This is the Dataset You can use this dataset for this question

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df_insta = pd.read_csv('/home/helium/Desktop/DS/data_science/ineuron_assignments/interview_based_assessment/assignment/ML/instagram_reach.csv')

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df_insta

    Unnamed: 0  S.No              USERNAME                                            Caption  Followers                                           Hashtags Time since posted  Likes
0            0     1         mikequindazzi  Who are #DataScientist and what do they do? >>...       1600  #MachineLearning #AI #DataAnalytics #DataScien...          11 hours    139
1            1     2       drgorillapaints  We all know where it’s going. We just have to ...        880   #deck .#mac #macintosh#sayhello #apple #steve...           2 hours     23
2            2     3    aitrading_official  Alexander Barinov: 4 years as CFO in multinati...        255  #whoiswho #aitrading #ai #aitradingteam#instat...           2 hours     25
3            3     4  opensourcedworkplace                                               sfad        340  #iot #cre#workplace #CDO #bigdata #technology#...           3 hours     49
4            4     5           crea.vision  Ever missed a call while your phone was chargi...        304  #instamachinelearning #instabigdata#instamarke...           3 hours     30
..         ...   ...                   ...                                                ...        ...                                                ...               ...    ...
95           8    19        michaelgarza__  328 S. Wetherly Drive, Beverly Hills, CA 90212...        614  #beverlyhills #realestate#losangelesrealestate...           3 hours     31
96           9    21           dvlp_search  Credit @tristankappel To find more dvlp follow...        450  #workspace #work #developer#development #devel...           3 hours     42
97          10    22            ecom.space  We are coming up with the Best 21 Books that w...        182  #books #book #motivation #inspiration #life#bo...           3 hours     10
98          11    24        lb3enterprises  We’re only paid to move dirt once. It’s not ju...       2039  #heavyequipment #underconstruction#dozer #real...           3 hours    222
99          12    25          palmariusdev                    Obtén tu tienda en línea ahora.        741  #marketing #programming#development #desarroll...           3 hours    109

[100 rows x 8 columns]

In [3]:
df_insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [4]:
df_insta.describe()

       Unnamed: 0        S.No   Followers      Likes
count  100.000000  100.000000   100.00000  100.00000
mean     8.940000   16.240000   961.96000   46.48000
std      6.639064    7.384286  1014.62567   55.08698
min      0.000000    1.000000    11.00000    8.00000
25%      4.000000   10.750000   252.75000   19.00000
50%      8.000000   16.500000   612.00000   29.00000
75%     12.250000   22.250000  1197.00000   46.00000
max     26.000000   30.000000  4496.00000  349.00000

In [5]:
df_insta.nunique()

Unnamed: 0           27
S.No                 30
USERNAME             95
Caption              94
Followers            94
Hashtags             98
Time since posted    11
Likes                55
dtype: int64

In [6]:
#DROP UNNECESSARY COLUMNS
df_insta.drop(columns=['Unnamed: 0','S.No','USERNAME'],inplace=True)

In [7]:
df_insta[['Hashtags']]

                                             Hashtags
0   #MachineLearning #AI #DataAnalytics #DataScien...
1    #deck .#mac #macintosh#sayhello #apple #steve...
2   #whoiswho #aitrading #ai #aitradingteam#instat...
3   #iot #cre#workplace #CDO #bigdata #technology#...
4   #instamachinelearning #instabigdata#instamarke...
..                                                ...
95  #beverlyhills #realestate#losangelesrealestate...
96  #workspace #work #developer#development #devel...
97  #books #book #motivation #inspiration #life#bo...
98  #heavyequipment #underconstruction#dozer #real...
99  #marketing #programming#development #desarroll...

[100 rows x 1 columns]